.container{
    background-color: white;
    min-width: 450px;
    text-align: center;
    padding: 10px 20px 30px;
    border-radius: 10px;
}

.headline{
    margin: 20px 0;
}

.form{
    padding-top: 10px;
}

.typeBox{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

label{
    display: block;
    text-align: start;
    margin-bottom: 3px;
    color: rgb(85, 85, 85);
}

select, input{
    width: 160px;
    margin-top: 5px;
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.amountDate{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.create{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

.create:hover{
    background-color: rgb(243, 243, 243);
}